extends layout

block content
  script="window.onload = function() { loadPage(myPage, false); setTimeout(loadPageConfig, 0, false); }"
  div(class='container-fluid')
    div(class='row')
      div(class='col', id='col0')
        div(class='card')
          div(class='card-header text-bg-primary')
            h5(class='card-title')="Category"
          div(class='card-body')
            h6(class='card-title')="Sub category 1"
            ul(class='list-group')
              li(class='list-group-item')
                a(href='http://vnexpress.net')="Vnexpress.net"
              li(class='list-group-item')="A second item"
              li(class='list-group-item')="A third item"
              li(class='list-group-item')="A fourth item"
              li(class='list-group-item')="And a fifth one"
          div(class='card-body')
            h6(class='card-title')="Sub category 1"
            ul(class='list-group')
              li(class='list-group-item')
                a(href='http://vnexpress.net')="Vnexpress.net"
              li(class='list-group-item')="A second item"
              li(class='list-group-item')="A third item"
              li(class='list-group-item')="A fourth item"
              li(class='list-group-item')="And a fifth one"
      div(class='col', id='col1')
      div(class='col', id='col2')
      div(class='col', id='col3')
      div(class='col', id='col4')

