extends layout

block content
  script=setColumnsScript
  div(class='container')
    div(class='row')
      div(class='col', id='col1')="Col 1"
      div(class='col', id='col2')="Col 2"
      div(class='col', id='col3')="Col 3"
      div(class='col', id='col4')="Col 4"
      div(class='col', id='col5')="Col 5"

