extends layout

block content
  script="window.onload = function() { loadPage(myPage, false); setTimeout(loadPageConfig, 0, false); }"
  div(class='container-op')
    div(class='row')
      div(class='col-op', id='col0')
        div(class='card')
          div(class='card-header-op')
            h5(class='card-title-op')="Category"
          div(class='card-body-op')
            h6(class='card-title')="Sub category 1"
            ul(class='list-group-op')
              li(class='list-group-item-op')
                a(href='http://vnexpress.net')="Vnexpress.net"
              li(class='list-group-item-op')="A second item"
              li(class='list-group-item-op')="A third item"
              li(class='list-group-item-op')="A fourth item"
              li(class='list-group-item-op')="And a fifth one"
          div(class='card-body-op')
            h6(class='card-title')="Sub category 1"
            ul(class='list-group-op')
              li(class='list-group-item-op')
                a(href='http://vnexpress.net')="Vnexpress.net"
              li(class='list-group-item-op')="A second item"
              li(class='list-group-item-op')="A third item"
              li(class='list-group-item-op')="A fourth item"
              li(class='list-group-item-op')="And a fifth one"
      div(class='col-op', id='col1')
      div(class='col-op', id='col2')
      div(class='col-op', id='col3')
      div(class='col-op', id='col4')
      div(class='col-op', id='col5')      

